@using OTTCreator.WebApp.ViewModels;
@model IEnumerable<UserListViewModel>

@{
    ViewData["Title"] = "Користувачі";
}

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered align-content-center" id="Datatable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Role)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsAllowed)
                        </th>
                        <th class="dontNeedFilter">
                            Дії
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(u => user.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(model => user.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(u => user.Role)
                            </td>
                            @if (user.IsAllowed)
                            {
                                <td>
                                    Так
                                </td>
                            }
                            else
                            {
                                <td>
                                    Ні
                                </td>
                            }
                            <td>
                                <div class="btn-group-vertical w-100">
                                    @if (user.Role == "Клієнт")
                                    {
                                        <a class="btn btn-warning" asp-controller="User" asp-action="EditUser" asp-route-Id="@user.Id"><i class="fa fa-edit"></i><br>Редагувати</a>
                                        <a class="btn btn-danger" asp-controller="User" asp-action="DeleteUser" asp-route-Id="@user.Id"><i class="fa fa-trash"></i><br>Видалити</a>
                                    }
                                    @if (user.Role == "Адміністратор")
                                    {
                                        <a class="btn btn-warning" asp-controller="User" asp-action="EditAdministrator" asp-route-Id="@user.Id"><i class="fa fa-edit"></i><br>Редагувати</a>
                                        <a class="btn btn-danger" asp-controller="User" asp-action="DeleteAdministrator" asp-route-Id="@user.Id"><i class="fa fa-trash"></i><br>Видалити</a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script src="~/js/userDatatable.js"></script>
}
